
body{
    background-color: #ffbf00;
}

h1{
    font-family: Courier, Times New Roman, serif;
    text-align: center;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:300%;
    background:transparent;
    color: #ff5050;
}

h2{
    font-family: Geneva, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    color: #ffffff;
    font-size: 100%;
}

h3{
    font-family: Geneva, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    color: #ff5050;
    font-size: 50%;
}

#scoreboard{
    margin-top:525px;
    font-family: Courier, Times New Roman, serif;
    text-align: center;
    color: #ffffff;
}

#game{
    width: 800px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    position:absolute;
    left: 0;
    right: 0;
}

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 0;
}
