<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href = "../../style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <script src = "../../phaser.js"></script>
    <script src = "../../StoreName.js"></script>
    <script src = "../../FrontEnd.js"></script>
    <script src = "../../BackEnd.js"></script>
    <script src = "../../energy.js"></script>
    <title>Friendly Chefs</title>

</head>
<body onload="initialize('{{username}}');">

<h1>Friendly(?) Chefs</h1>
<h2>Help Everyone Collect Food!</h2>
<h3>
    <b>BUT DON'T LET ANYONE BECOME EMPLOYEE OF THE MONTH BUT YOU</b><br>
    Fill up your meter to plant contaminated food that will cost your 'friends' points
    Mouse click to move, spacebar to plant contaminated food
</h3>
<!--<div id="username">{{username}}</div>-->
<div id="game">
</div>
<div id="scoreboard">
    <p>Employee of the month: person collected 0 points</p>
    <!--<button class="button" type="button" onclick="location.href='http://localhost:8080';">Play Again</button>-->
</div>
</body>
</html>

